<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="nextarDashboard" connectionString="mongodb://nextardbuser:Teste.com2@ds034279.mlab.com:34279/dashboard?readPreference=primary" />-->
    <add name="nextarDashboard" connectionString="mongodb://nextardbuser:Teste.com2@ds025973.mlab.com:25973/dashboardgoogle?readPreference=primary" />
    <add name="mongoAzure" connectionString="mongodb://191.232.212.29:27017/dashboard?readPreference=primary" />
    <add name="nexusDb" connectionString="server=192.168.0.36;database=nexcafe;port=17200;Native=true;UserName=admin;PassWord=delphi9856" />
  </connectionStrings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>